.about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.advice {
    width: 45%;
}

.icon-advice {
    padding: 0px;
    color: #8dc63f;
    font-size: 15px;
    font-weight: 500;
}

.icon-advice p>i {
    margin-right: 8px;
}

.our>h3 {
    font-size: 47px;
    color: #434343;
    font-weight: 700;
    padding-bottom: 15px;
}

.our>p {
    color: #777;
    font-size: 16px;
    padding-bottom: 20px;
}

.our>button {
    width: 35%;
    padding: 4%;
    margin-top: 30px;
    border-radius: 30px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    background-color: #8dc63f;
    outline: none;
}

.about-img {
    vertical-align: middle;
    display: inline-block;
    text-align: left;
    width: 45%;
    margin-bottom: 0;
}

.about-img>img {
    width: 560px;
    height: 600px;
    margin-bottom: -130px;
    padding-left: 30px;
}

.our>button:hover {
    background-color: black;
    color: #8dc63f;
    transition: 2s;
}