.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../../images/home.jpg);
}

.text {
    position: absolute;
    width: 47%;
    padding-left: 10%;
    padding-right: 15%;
    padding-top: 30%;
    padding-top: 0%;
    right: 0;
    left: 0;
}

.text>h2 {
    color: #fff;
    font-size: 350%;
    font-weight: bold;
}

.text>p {
    color: #fff;
    margin: 10px;
}

.text>button {
    width: 20%;
    padding: 3%;
    border-radius: 30px;
    border: none;
    color: #ffffff;
    font size: 14px;
    background-color: #8dc63f;
    outline: none;
}

.text>:hover {
    background-color: #fff;
    color: #8dc63f;
}

.learn>p {
    text-align: center;
    font-size: 35px;
    margin-top: 10%;
    margin-bottom: 5%;
    color: #434343;
    right: 0;
    left: 0;
}

.plan {
    background-color: #8dc63f;
    margin-top: 8%;
    margin-bottom: 8%;
}

.plan>h3 {
    font-size: 35px;
    color: white;
    font-weight: bold;
}

.plan>p {
    color: white;
}

.contact {
    display: flex;
    margin-top: 8%;
}

.contact>button {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    color: blanchedalmond;
    font-size: 16px;
}

.contact>input {
    display: block;
    width: 100%;
    padding-left: 5%;
    padding-right: 35%;
    font-size: 14px;
    color: #999;
}