.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../../images/home.jpg);
}

.text {
    position: absolute;
    width: 47%;
    padding-left: 10%;
    padding-right: 15%;
    padding-top: 30%;
    padding-top: 0%;
    right: 0;
    left: 0;
}

.text>h2 {
    color: #fff;
    font-size: 350%;
    font-weight: bold;
}

.text>p {
    color: #fff;
    margin: 10px;
}

.text>button {
    width: 25%;
    padding: 3%;
    margin-top: 30px;
    border-radius: 30px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    background-color: #8dc63f;
    outline: none;
}

.text>button:hover {
    background-color: white;
    color: #8dc63f;
    transition: 3s;
    opacity: 1;
}

.learn>p {
    text-align: center;
    font-size: 35px;
    margin-top: 10%;
    margin-bottom: 5%;
    color: #434343;
    right: 0;
    left: 0;
}

.plan-section {
    background-position: center center;
    position: relative;
    background-color: #8dc63f;
    background-position: center;
}

.plan {
    margin-top: 8%;
    margin-bottom: 8%;
}

.plan>h3 {
    font-size: 35px;
    color: white;
    font-weight: bold;
    margin-bottom: -5px;
}

.plan>p {
    color: white;
}

.contact {
    display: flex;
    margin-top: 8%;
}

.contact>button {
    width: 100%;
    padding: 18px;
    background-color: #252525;
    line-height: 1;
    color: blanchedalmond;
    font-size: 16px;
    font-weight: 500;
    border: none;
}

.contact>input {
    display: block;
    width: 150%;
    height: 70%;
    padding: 18px;
    padding-right: 140px;
    font-size: 16px;
    color: #999;
    transition: 4s;
}

.contact>input:hover {
    border: none;
}

.contact>button:hover {
    color: #8dc63f;
    background-color: #ffffff;
}