.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.slide-container,
#all-slides {
    width: 100%;
    height: 700px;
    position: relative;
}

.slide-container {
    display: flex;
    align-items: center;
}

#all-slides {}

.slide,
.slide-img {
    width: 100%;
    height: 100%;
}

.slide {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 50px;
}

.slide-img {
    position: absolute;
    z-index: -1;
}

.dest {
    position: absolute;
    font-size: 50px;
    border: none;
    background: none;
    cursor: pointer;
    transition: .3s;
    color: rgb(252, 247, 247);
}

.next {
    right: 1%;
}

.prev {
    left: 1%;
}

.slide.active {
    display: flex;
}

.slide>h2 {
    padding-left: 10%;
    padding-right: 48%;
    text-align: left;
    font-size: 50px;
    font-weight: 700;
}

.slide>p {
    padding-left: 10%;
    padding-right: 48%;
    text-align: left;
    font-size: 15px;
    color: #fff;
    margin-bottom: 30px;
}

.slide>button {
    position: relative;
    padding-left: 10%;
    padding-right: 48%;
    margin-right: 70%;
    width: 10%;
    padding: 20px;
    border-radius: 30px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    background-color: #8dc63f;
    outline: none;
}

.slide>button:hover {
    background-color: white;
    color: #8dc63f;
    transition: 3s;
    opacity: 1;
}

.learn>p {
    text-align: center;
    font-size: 35px;
    margin-top: 10%;
    margin-bottom: 5%;
    color: #434343;
    right: 0;
    left: 0;
}

.plan-section {
    background-position: center center;
    position: relative;
    background-color: #8dc63f;
    background-position: center;
}

.plan {
    margin-top: 8%;
    margin-bottom: 8%;
}

.plan>h3 {
    font-size: 35px;
    color: white;
    font-weight: bold;
    margin-bottom: -5px;
}

.plan>p {
    color: white;
}

.contact {
    display: flex;
    margin-top: 8%;
}

.contact>button {
    width: 100%;
    padding: 18px;
    background-color: #252525;
    line-height: 1;
    color: blanchedalmond;
    font-size: 16px;
    font-weight: 500;
    border: none;
}

.contact>input {
    display: block;
    width: 150%;
    height: 70%;
    padding: 18px;
    padding-right: 140px;
    font-size: 16px;
    color: #999;
    transition: 4s;
}

.contact>input:hover {
    border: none;
}

.contact>button:hover {
    color: #8dc63f;
    background-color: #ffffff;
}