.services {
    background-color: #f2f2f2;
}

.exp>p {
    color: #8dc63f;
    font-size: 15px;
    font-weight: 500;
}

.exp p>i {
    margin-right: 5px;
}

.exp>h3 {
    font-size: 47px;
    font-weight: 700;
    margin-bottom: 70px;
}

.item-ser {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
}

.item-sevis>img {
    width: 100px;
    height: 100px;
    margin: 0%;
}

.item-sevis>h4 {
    font-size: 25px;
    font-weight: 700;
    color: #434343;
    padding: 25px;
}

.item-sevis>p {
    color: #726f6f;
    padding-right: 15px;
}

.team>img {
    border: 3px solid #8dc63f;
    width: 320px;
    height: 470px;
}

.peoples {
    background-color: #8dc63f;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.exp-peoples {
    text-align: center;
}

.exp-peoples>p {
    padding: 0px;
    color: #f2f2f2;
    font-size: 15px;
    font-weight: 500;
}

.exp-peoples>h3 {
    color: #f2f2f2;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 70px;
}

.lorem>p {
    font-size: 19px;
    color: #f2f2f2;
}

.lorem p>i {
    padding: 0 10%;
}

.exp-peoples p>i {
    margin-right: 8px;
}

.lorem img {
    border-radius: 50%;
    margin-top: 40px;
}

.lorem h4 {
    font-weight: bold;
    color: #f2f2f2;
    margin-top: 20px;
}