    .top-cont {
        background-color: #8dc63f;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 13%;
        padding-right: 13%;
        padding-bottom: 5px;
        padding-top: 10px;
    }
    
    .block1 {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .block1>i {
        margin-left: 30px;
        color: white;
    }
    
    .block1>p {
        margin-left: 10px;
        color: white;
        font-size: 14px;
    }
    
    .icons {
        display: flex;
    }
    
    .icons>i {
        color: white;
        background-color: #85bb3a;
        padding: 1px;
        border-radius: 50%;
        width: 29px;
        height: 29px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }
    
    .icons>i:hover {
        color: #8dc63f;
        background-color: #fff;
    }