    .top-cont {
        background-color: #8dc63f;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 15%;
        padding-right: 15%;
    }
    
    .block1 {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .block1>i {
        margin-left: 30px;
        color: white;
    }
    
    .block1>p {
        margin-left: 10px;
        color: white;
    }
    
    .icons {
        display: flex;
    }
    
    .icons>i {
        color: white;
        background-color: #72a32d;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }